@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed ; 
  --foreground: #0a0a0a; 
  --base-card-border-width: 0
  
}


@media (prefers-color-scheme:light) {
  :root {
    --background: #ffffff; 
    --foreground: #171717;
    --base-card-border-width: 0
  }
}




body {
  color: var(--foreground);
  padding: 1;

}

